<div class="py-14 2xl:container 2xl:mx-auto">

  <div class="flex justify-start item-start space-y-2 flex-col">
    <h1 class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800 felx items-center">
      <a href="javascript:history.back()">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      Order #<%= data.id %>
    </h1>
    <p class="text-base font-medium leading-6 text-gray-600">
      <%= data.orderDate %>
    </p>
  </div>
  <div
    class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
    <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
      <div
        class="flex flex-col justify-start items-start  bg-gray-50 border rounded-lg px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
        <p class="text-lg md:text-xl font-semibold leading-6 xl:leading-5 text-gray-800">Customer's Cart
        </p>
        <% data.items.forEach(item=> { %>
          <div
            class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
            <div class="pb-4 md:pb-8 w-full md:w-40">
              <img class="w-full hidden md:block" src="<%= item.book.images[0] %>" alt="<%= item.book.title %>" />
            </div>
            <div
              class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
              <div class="w-full flex flex-col justify-start items-start space-y-8">
                <h3 class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800">
                  <%= item.book.title %>
                </h3>
                <div class="flex justify-start items-start flex-col space-y-2">
                  <p class="text-sm leading-none text-gray-800"><span class="">Author: </span>
                    <%= item.book.authors ?.map((item)=> item.author.name)
                      .join(', ') %>
                  </p>
                  <p class="text-sm leading-none text-gray-800"><span class="">Category: </span>
                    <%= item.book.category.name %>
                  </p>
                </div>
              </div>
              <div class="flex justify-between space-x-8 items-start w-full">
                <% if (item.book.prices && item.book.prices[0].discountPrice) { %>
                  <p class="text-base xl:text-lg leading-6">
                    <span class="text-black line-through">
                      $<%= item.book.prices[0].originalPrice.toFixed(2) %>
                    </span>
                    <span class="font-semibold text-red-500">
                      $<%= item.book.prices[0].discountPrice.toFixed(2) %>
                    </span>
                  </p>
                  <% } else { %>
                    <p class="text-base xl:text-lg leading-6 text-gray-800">
                      $<%= item.book.prices && item.book.prices[0].originalPrice.toFixed(2) %>
                    </p>
                    <% } %>
                      <p class="text-base xl:text-lg leading-6 text-gray-800">
                        x <%= item.quantity %>
                      </p>

              </div>
            </div>
          </div>
          <% }) %>

      </div>
      <div
        class="flex justify-center flex-col md:flex-row items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
        <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50  space-y-6 rounded-lg border">
          <h3 class="text-xl font-semibold leading-5 text-gray-800">Summary</h3>
          <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
            <div class="flex justify-between w-full">
              <p class="text-base leading-4 text-gray-800">Subtotal</p>
              <p class="text-base leading-4 text-gray-600">$<%= data.total %>
              </p>
            </div>
            <div class="flex justify-between items-center w-full">
              <p class="text-base leading-4 text-gray-800">Shipping</p>
              <p class="text-base leading-4 text-gray-600">$<%= (parseInt(data.total) * 0.1).toFixed(2) %>
              </p>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <p class="text-base font-semibold leading-4 text-gray-800">Total</p>
            <p class="text-base font-semibold leading-4 text-gray-600">$<%= parseInt(data.total) * 0.1 +
                parseInt(data.total) %>
            </p>
          </div>
        </div>
        <div
          class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50  space-y-6 rounded-lg border">
          <h3 class="text-xl font-semibold leading-5 text-gray-800">Shipping</h3>
          <div class="flex justify-between items-start w-full">
            <div class="flex justify-center items-center space-x-4">
              <div class="w-8 h-8">
                <img class="w-full h-full" alt="logo" src="https://i.ibb.co/L8KSdNQ/image-3.png" />
              </div>
              <div class="flex flex-col justify-start items-center">
                <p class="text-lg leading-6 font-semibold text-gray-800">DPD Delivery<br /><span
                    class="font-normal">Delivery with 24 Hours</span></p>
              </div>
            </div>
            <p class="text-lg font-semibold leading-6 text-gray-800">$<%= (parseInt(data.total) * 0.1).toFixed(2) %>
            </p>
          </div>

        </div>
      </div>
    </div>
    <div
      class="bg-gray-50  w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col rounded-lg border h-fit">
      <h3 class="text-xl font-semibold leading-5 text-gray-800">Customer</h3>
      <div
        class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
        <div class="flex flex-col justify-start items-start flex-shrink-0">
          <div class="flex justify-center w-full md:justify-start items-center space-x-4 py-8 border-b border-gray-200">
            <div class="flex justify-start items-start flex-col space-y-2">
              <p class="text-base font-semibold leading-4 text-left text-gray-800">
                <%= data.user.username %>
              </p>
              <p class="text-sm leading-5 text-gray-600">
                <%= data.user.email %>
              </p>
            </div>
          </div>


        </div>
        <div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">
          <div
            class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
            <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
              <p class="text-base font-semibold leading-4 text-center md:text-left text-gray-800">
                Shipping Address</p>
              <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600">
                <%= data.address %>
              </p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>