<div class="py-5 px-10">
  <div class="flex justify-between items-center mb-5">

    <div>
      <form id="searchForm">
        <input type="text" id="title"
          class="bg-gray-50 border  text-black text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[200%] p-2.5 border-gray-600"
          placeholder="Book title" required name="title" oninput="debouncedSearch(event)" />
      </form>
    </div>
    <button type='submit' id='submit'
      class='text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center'>
      <a href="create/books" class="px-4">
        Add new book
      </a>
    </button>

  </div>

  <table class="text-xl w-full text-left rtl:text-right">
    <thead class="ext-xl text-gray-700 uppercase bg-gray-50 ">
      <tr>
        <th class="border border-slate-700 py-2">STT</th>
        <th class="border border-slate-700 pl-4">Title</th>
        <th class="border border-slate-700 text-center">Category</th>
        <th class="border border-slate-700 text-center">Rating</th>
        <th class="border border-slate-700 text-center">Price</th>
        <th class="border border-slate-700 pl-4">Description</th>
        <th class="border border-slate-700 text-center">Image</th>
        <th class="border border-slate-700 text-center w-32">Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(item, index) { %>
        <tr class="text-center">
          <td class="border border-slate-700 ">
            <%= index + 1 %>
          </td>
          <td class="border border-slate-700  pl-4 text-left">
            <%= item.title %>
          </td>
          <td class="border border-slate-700 ">
            <%= item.category.name %>
          </td>
          <td class="border border-slate-700 ">
            <%= item.rating %><i class="fa-solid fa-star text-yellow-500"></i>
          </td>
          <td class="border border-slate-700 ">
            <%= item.prices[0].originalPrice %>$
          </td>
          <td class="border border-slate-700 pl-4 text-left">
            <%= item.description %>
          </td>
          <td class="border border-slate-700 flex justify-center"><img class="w-36" src="<%= item.images[0] %>" alt="">
          </td>
          <td class="border border-slate-700 space-x-2  ">
            <a href="edit/books/<%= item.id %>"
              class="p-2 py-[10px] rounded text-white font-semibold hover:text-blue-800 bg-blue-500 border-none ">
              <i class="fa-solid fa-pen-to-square"></i>

            </a>
            <form action="delete/books/<%= item.id %>" method="POST" class="inline">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit"
                class="p-2 rounded text-white font-semibold hover:text-red-800 bg-red-500 border-none">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <br>
  <div class="">
    <a href="<%= pagination.prevPage %>" class="px-4">
      <i class="fa-solid fa-angle-left"></i>
    </a>
    <% pagination.pages.forEach(function(page) { %>
      <a href="/<%= entityName %>?page=<%= page %>&limit=10"
        class="<%= (page === pagination.currentPage) ? 'bg-red-500 text-white' : '' %> border rounded p-2 mr-2">
        <%= page %>
      </a>
      <% }); %>
        <a href="<%= pagination.nextPage %>" class="px-4">
          <i class="fa-solid fa-angle-right"></i>
        </a>
  </div>
</div>
<script>
  let debounceTimeout;
  function debouncedSearch(event) {
    clearTimeout(debounceTimeout);
    debounceTimeout = setTimeout(() => {
      const title = event.target.value;
      fetch(`/search/books?q=${title}`, {
        method: 'GET',
      })
        .then(response => response.json())
        .then(data => {
          const parseData = JSON.parse(data);
          // Clear the existing table body
          const tableBody = document.querySelector('tbody');
          tableBody.innerHTML = '';

          // Add a new row for each book
          parseData.forEach((item, index) => {
            const row = document.createElement('tr');
            row.innerHTML = `
            <td class="border border-slate-700 ">
              ${index + 1}
            </td>
            <td class="border border-slate-700  pl-4 text-left">
              ${item.title}
            </td>
            <td class="border border-slate-700 ">
              ${item.category.name}
            </td>
            <td class="border border-slate-700 ">
              ${item.rating}<i class="fa-solid fa-star text-yellow-500"></i>
            </td>
            <td class="border border-slate-700 ">
              ${item.prices[0].originalPrice}$
            </td>
            <td class="border border-slate-700 pl-4 text-left">
              ${item.description}
            </td>
            <td class="border border-slate-700 flex justify-center"><img class="w-36" src="${item.images[0]}" alt="">
            </td>
            <td class="border border-slate-700 space-x-2">
              <a href="edit/books/${item.id}"
                class="p-2 rounded text-white text-center font-semibold hover:text-blue-800 bg-blue-500 border-none">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <form action="delete/books/${item.id}" method="POST" class="inline">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit"
                  class="p-2 py-[6px] rounded text-white text-center font-semibold hover:text-red-800 bg-red-500 border-none"><i
                    class="fa-solid fa-trash"></i></button>
              </form>
            </td>
          `;
            tableBody.appendChild(row);
          });
        }).catch(error => {
          console.error('Error:', error);
        });
    }, 3000); // delay in milliseconds
  }
  debouncedSearch();
</script>