<table class="w-full">
  <thead class="bg-blue-600">
    <tr>
      <th class="border border-slate-700">STT</th>
      <th class="border border-slate-700">book</th>
      <th class="border border-slate-700">user</th>
      <th class="border border-slate-700">rating</th>
      <th class="border border-slate-700">comment</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(function(item, index) { %>
    <tr>
      <td class="border border-slate-700"><%= index + 1 %></td>
      <td class="border border-slate-700"><%= item.book.title %></td>
      <td class="border border-slate-700"><%= item.user.username %></td>
      <td class="border border-slate-700"><%= item.rating %></td>
      <td class="border border-slate-700"><%= item.comment %></td>
    </tr>
    <% }); %>
  </tbody>
</table>