<table class="w-full">
  <thead class="bg-blue-600">
    <tr>
      <th class="border border-slate-700">STT</th>
      <th class="border border-slate-700">book_id</th>
      <th class="border border-slate-700">type</th>
      <th class="border border-slate-700">start_date</th>
      <th class="border border-slate-700">end_date</th>
      <th class="border border-slate-700">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td class="border border-slate-700">{{increment @index}}</td>
      <td class="border border-slate-700">{{this.book_id}}</td>
      <td class="border border-slate-700">{{this.type}}</td>
      <td class="border border-slate-700">{{this.start_date}}</td>
      <td class="border border-slate-700">{{this.end_date}}</td>
      <td class="border border-slate-700">
        <a href="edit/promotions/{{this.id}}" class="text-blue-500 hover:text-blue-800">Edit</a>
        <form action="delete/promotions/{{this.id}}" method="POST" class="inline">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="text-red-500 hover:text-red-800">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>